<main>
  <div class="container-fluid text-muted"> 
    <div class='top-wrapper'>
      <div class="text-center">
        <div class="mt-5 mb-4">
          <%= image_tag 'monomaneo_image.png', class:'logo-top'%>
        </div>
        <div>
            <%= link_to t('.start'), targets_path, class: "top-button btn btn-primary btn-lg mb-5 pt-4" %>
        </div>
      </div>
    </div>

    <div class="cards-wrapper text-muted">
      <div class="top-cards pt-5 pb-4">
       <h3 class="text-center mt-3 mb-4"><i class="fa-solid fa-medal mr-2"></i>ランキングTOP3</h3>
        <!-- カード一覧 -->
          <div class="row">
            <% if @cards.present? %>
              <%= render partial: 'card', collection: @cards %>
            <% else %>
              <p>公開されているモノマネはありません</p>
            <% end %>
          </div>
      </div>
    </div>


   <div class="middle-wrapper text-muted">
    <h2 class="middle_title text-center mt-5 pb-4">本アプリの使い方</h2>
      <div class="top-contents">
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2">
              <div class="text-contents mt-5">
                <h2 class="top-impersonation">モノマネの完成度を点数化</h2>
                <p>モノマネが得意な人は腕試し、苦手な人は練習として使えます。<br>結果画面では、あなたの音声データからおすすめのお題を提示します。</p>
              </div>
            </div>
            <div class="p-2">
              <div class="image-contents">
                <%= image_tag 'score.png',size: '400x250', class:'image-logo' %>
              </div>
            </div>
        </div>
      </div>


      <div class="top-contents">
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2">
              <div class="image-contents">
              <%= image_tag 'collaboration.png', size: '400x250', class:'image-logo' %>
              </div>
            </div>
            <div class="p-2">
              <div class="text-contents mt-5">
                <h2 class="top-collaboration">みんなのモノマネとコラボ</h2>
                <p>公開されてるモノマネ音声には、更に声を重ねることができます。<br>ハモリの練習にも使えます。</p>
              </div>
            </div>
        </div>
      </div>

      <div class="top-contents">
        <div class="d-flex flex-row mb-5 justify-content-center">
            <div class="p-2">
              <div class="text-contents mt-5">
                <h2 class="top-impersonation">みんなの投票でお題を増やす</h2>
                <p>モノマネのお題を追加したい場合は、お題総選挙から登録をお願いします。<br>毎月、投票数の多かった上位5つのお題を追加します。</p>
              </div>
            </div>
            <div class="p-2">
              <div class="image-contents">
                <%= image_tag 'vote.png',size: '400x250', class:'image-logo' %>
              </div>
            </div>
        </div>
      </div> 
   </div>
  </div>
</main>
