<%= form_with model: @target, local: true do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :target_voice %><br>
      <%= form.file_field :target_voice %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>