<div class='top-wrapper'>
  <div class='top-inner-text text-center', id='button'>
    <div>
      <h1><%= @target.name %></h1>
    </div>

    <div class="mt-4 mb-5">
      <button class = "btn btn-primary" id="rec" >モノマネを録音する</button>
      <button class = "btn btn-primary" id="stop" >録音停止</button>
      <button class = "btn btn-primary" id="playid" >再生する</button>
    </div>
     <section class="tape">

     <audio id="play" controls></audio>
     <a id ="download" href="#" type="hidden"></a>

     <button class = "btn btn-danger " id="result" >採点する</button>
     <%= form_with url:target_results_path(@target), id: "voiceform", local: true do |f| %>
       <%= f.hidden_field :target_id, :value => @target.id %>
       <%= f.hidden_field :impersonation_voice  %>
       <%= f.hidden_field :score, :value => 0  %>
     <% end %>

		</section>
  </div>
</div>