<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-7 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= form_with model: @user, url: user_path, local: true do |f| %>
        <div class="form-group">
          <i class="fas fa-user"></i>
          <%= f.label :user, User.human_attribute_name(:name) %>
          <%= f.text_field :name, class: "form-control mb-3", placeholder: :name %>
        </div>
        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <%= f.label :email, User.human_attribute_name(:email) %>
          <%= f.text_field :email, class: "form-control mb-3", placeholder: :email %>
        </div>
        <div class="form-group">
          <i class="fas fa-lock"></i>
          <%= f.label :password, User.human_attribute_name(:password) %>
          <%= f.password_field :password, class: "form-control mb-3", placeholder: :password %>
        </div>
        <div class="form-group">
          <i class="fas fa-lock"></i>
          <%= f.label :password, User.human_attribute_name(:password_confirmation) %>  
          <%= f.password_field :password_confirmation, class: "form-control mb-3", placeholder: :password_confirmation %>
        </div>
        <div class="actions">
          <%= f.submit t('defaults.update'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


  