<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
        <%= link_to edit_user_path, class: 'btn btn-primary float-right' do %>
         <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <%= link_to "コラボ履歴", user_collaborations_path(current_user), class:"btn btn-primary float-right mr-3" %>
        <%= link_to "採点履歴", user_results_path(current_user), class:"btn btn-primary float-right mr-3" %>
      <table class="table">
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row">ユーザー名</th>
          <td><%= current_user.name %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
