<header>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <%= link_to root_path do %>
        <%= image_tag 'm_logo.png', class:'header-logo', size: '50x50' %>
      <% end %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ランキング", ranks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "公開中のモノマネ", boards_path, class: "nav-link" %>
        </li>
      </ul>
    <%# </div> %>
  </div>
</nav>
</header>
