<tr>
  <td class='align-middle'><%= l result.created_at, format: :short %></td>
  <td class='align-middle td-pe-none'><%= result.score %>点</td>
  <td class='align-middle'><%= Target.find(result.target_id).name %></td>
  <td class='align-middle td-pe-none'><%= result.state %></td>
  <td class='align-middle'>
    <%= link_to t('defaults.show'), user_result_path(current_user, result), class: 'btn btn-info mr-3' %>
    <%= link_to user_result_path(current_user, result), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger' do %>
      <i class="far fa-trash-alt"></i> 
    <% end %>
  </td>
</tr>