<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="text-muted mt-5 mb-3">
        <i class="fa-solid fa-microphone mr-2"></i>
        <%= t('.title') %>
        <%= link_to t('collaborations.index.title'), user_collaborations_path(current_user), class:"btn btn-primary mr-3 float-right" %>
      </h1>
      <table class="table table-striped">
        <thead class="thead-primary">
        <tr>
          <th scope="col"><%= Result.human_attribute_name(:created_at) %></th>
          <th scope="col"><%= Result.human_attribute_name(:score) %></th>
          <th scope="col"><%= Target.human_attribute_name(:name) %></th>
          <th scope="col"><%= Result.human_attribute_name(:state) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <%= render @results %>
        </tbody>
      </table>
    </div>
  </div>
</div>