<% set_meta_tags title: t('.title') %>
<div class="container pt-5 text-muted">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><i class="fa-solid fa-microphone mr-2"></i><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <% unless current_user.nil? %>
            <%= link_to "コラボする", new_user_result_collaboration_path(current_user, @result), class: 'float-right btn btn-info' %>
            <% if @result.user_id == current_user.id %>
              <%= link_to edit_user_result_path(@user, @result), class: 'btn btn-primary float-right mr-2' do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            <% end %>
          <% end %>  
          <div class='row text-center'>
            <div class='col-md-9'>
              <h1 style='display: inline;'><%= @target.name %>：<%= @result.score %>点</h1>
              <div class='advice mb-5'>
                <p>
                  <% if @result.match_target == @target.name then %>
                   <%= @target.name %>はあなたにぴったりですね！
                  <% else %>
                   この声は、<%= @result.match_target%>もおすすめです！
                  <% end %>
                </p>
              </div>
              <%= audio_tag("#{@result.impersonation_voice.url}", controls: true) %>
              <% if logged_in? %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @user.name %></li>
                <li class="list-inline-item"><%= l @result.created_at, format: :short %></li>
              </ul>
              <% end %>
            </div>
          </div>
          <p><%= simple_format(@result.body) %></p>
        </div>
      </article>
        <%= link_to "https://twitter.com/share?url=#{request.url}&hashtags=ものまねお,モノマネ採点&text=【#{@target.name}】に挑戦しました！%0a%0a結果は… #{@result.score}点/100点でした！%0aコラボ待ってます！%0a%0a", class: 'btn btn-primary float-right', target: '_blank' do %>
          <i class="fab fa-twitter pe-1"></i><%= t('.share_to_twitter') %>
        <% end %>          
    </div>
  </div>

<!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } if Comment.where(result_id: @result.id).count > 0 %> 
<!-- コメントフォーム -->
  <%= render 'comments/form', { result: @result, comment: @comment } if logged_in? %>
  <h4 class= "text-center py-3" ><%= link_to 'お題を選ぶ', targets_path, class: "link" %></h4>
</div>