<div class='top-wrapper'>
  <div class='top-inner-text text-center'>
    <div class='score'>
      <h2><%= @target.name %>さんのモノマネは、
        <% if @result.score <= 0 then %>
          0点です。
        <% else %>
          <%= @result.score %>点です！
        <% end %>
      </h2>
    </div>
    <div class='advice'>
      <h2>
        <% if @result.match_target == @target.name then %>
         　その調子で頑張りましょう！
        <% else %>
         　あなたにおすすめのモノマネは、<%= @result.match_target%>さんです。
        <% end %>
      </h2>
    </div>
    <%=audio_tag("#{@result.impersonation_voice.url}", controls: true) %>

    <h4><%= link_to 'お題へ戻る', targets_path, class: "link" %></h4>
  </div> 
</div> 