<% result = Result.find(collaboration.result_id) %>
<tr>
  <td class='align-middle'><%= l collaboration.created_at, format: :short %></td>
  <td class='align-middle'><%= collaboration.title %></td>
  <td class='align-middle td-pe-none'><%= collaboration.state_i18n %></td>
  <td class='align-middle'>
    <%= link_to t('defaults.show'), collaboration_path(collaboration), class: 'btn btn-info mr-3' %>
    <%= link_to collaboration_path(collaboration), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger' do %>
      <i class="far fa-trash-alt"></i> 
    <% end %>
  </td>
</tr>