<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <h1 class="text-muted mt-5 mb-3"><i class="fa-solid fa-people-carry-box mr-2"></i><%= t('.title') %></h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Collaboration.human_attribute_name(:created_at) %></th>
          <th scope="col"><%= Collaboration.human_attribute_name(:title) %></th>
          <th scope="col"><%= Collaboration.human_attribute_name(:state) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <%= render @collaborations %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>