<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-muted mt-5 mb-3"><i class="fa-solid fa-people-carry-box mr-2"></i><%= t('.title') %></h1>
        <article class="card">
          <div class="card-body">
            <% if @collaboration.user_id == current_user.id %>
              <%= link_to edit_user_result_collaboration_path(current_user, @result, @collaboration), class: 'btn btn-primary float-right mr-2' do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            <% end %>
            <div class='row text-center'>
              <div class='col-md-9'>
                <div class='title mb-5'>
                  <h2><%= @collaboration.title %></h2>
                  <p><%= @collaboration_user.name %>さんとのコラボ</p>
                </div>
                <%=audio_tag("#{@collaboration.collaboration_voice.url}", controls: true) %>
                <ul class="list-inline">
                  <li class="list-inline-item">by <%= @user.name %></li>
                  <li class="list-inline-item"><%= l @collaboration.created_at, format: :short %></li>
                </ul>
              </div>
            </div>
            <p><%= simple_format(@collaboration.body) %></p>
          </div>
        </article>
        <% unless current_user.nil? %>
          <% if @result.user_id == current_user.id %>
            <%= link_to "https://twitter.com/share?url=#{request.url}&hashtags=ものまねお,モノマネ採点&text=#{@collaboration_user.name}さんの【#{@target.name}】とコラボしました！%0a", class: 'btn btn-primary float-right', target: '_blank' do %>
              <i class="fab fa-twitter pe-1"></i><%= t('.share_to_twitter') %>
            <% end %>        
          <% end %>
        <% end %>  
      </div>
  </div>
</div>