<div class="container  mt-5 mb-5 pt-2">
  <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">
        <h1>コラボ詳細</h1>
        <article class="card">
          <div class="card-body">
            <div class='row text-center'>
              <div class='col-md-9'>
                <div class='title mb-5'>
                  <h2><%= @collaboration.title %></h2>
                  <p>コラボしたユーザー：<%= @collaboration_user.name %></p>
                </div>
                <%=audio_tag("#{@collaboration.collaboration_voice.url}", controls: true) %>
                <ul class="list-inline">
                  <li class="list-inline-item">by <%= @user.name %></li>
                  <li class="list-inline-item"><%= l @result.created_at, format: :short %></li>
                </ul>
              </div>
            </div>
            <p><%= simple_format(@collaboration.body) %></p>
          </div>
        </article>
      </div>
  </div>
</div>